<div class="d-flex flex-column justify-content-around h-100" id="mawHeight">
    <h2 >Connectez-vous à Twitter</h2>
    
    <button class="btn-login btn-connect-with"><img alt="logo Google" src="../../assets/logoGoogle.png" class="logoInForm" > Se connecter avec Google</button>
    <button class="btn-login btn-connect-with"><img alt="logo Apple" src="../../assets/logoApple.png"  class="logoInForm"> Se connecter Apple</button>
    <div class="position-relative">
        <hr>
        <p id="ou">ou</p>

    </div>
    <form [formGroup]="form">
        <input type="text" name="" placeholder="Numéro de téléphone, adresse email" formControlName="identifier" id="inputEmail" class="inputStyle">
    </form>
    <button (click)="sendPage1()" class="btn-login btn-black">Suivant</button>
    
    <button class="btn-login btn-connect-with">Mot de passe oublié ? </button>
    
    <p>Vous n'avez pas de compte ? Inscrivez-vous</p>
</div>