.logoInForm{
    width: 20px;
}

.btn-login{
    width: 100%;
    border-radius: 20px;
    padding: 5px;
}
.btn-connect-with{
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
}
#ou{
    position: absolute;
    top: 2px;
    left: 45%;
    background-color: white;
    padding: 0 6px;
}
#mawHeight{
    max-height: 600px;
}
#inputEmail{
    width: 100%;
    padding: 0 10px;

}
.btn-black{
    background-color: black;
    color: white;
}
