<div *ngIf="displayBox" id="boxLogOut">
    <ul>
        <li>
            <button>Add an existing account</button>
        </li>
        <li>
            <button (click)="logOut()">Log ou @{{userCurrent.firstName}}54845</button>
        </li>
    </ul>
</div>
<div (click)="setDisplayBox()" class="d-flex">
    <div class="me-3">
        <img src="../../../assets/person-circle.svg" alt="avatar profile">
    </div>
    <div>
        <p>{{userCurrent.firstName}} {{userCurrent.name}}</p>
        <p>@{{userCurrent.firstName}}54845</p>
    </div>
</div>
