<div class="d-flex flex-column">
    <div class="d-flex flex-row">
        <h4>For you</h4>
        <h4>Following</h4>
    </div>
    <form [formGroup]="form">
        <div>
            <img src="../../assets/person-circle.svg" alt="avatar">
            <input type="text" formControlName="content" placeholder="What is happening ?">
        </div>
        <div class=" d-flex flex-row ">
            <div>
                <button><img src="../../assets/picture.svg" alt="icone picture"></button>
                <button><img src="../../assets/filetype-gif.svg" alt="icone GIF"></button>
                <button><img src="../../assets/list-task.svg" alt="icone list"></button>
                <button><img src="../../assets/emoji-smile.svg" alt="icone smile"></button>
                <button><img src="../../assets/calendar-check.svg" alt="icone calendar"></button>
                <button><img src="../../assets/geo-alt.svg" alt="icone map"></button>
            </div>
            <button (click)="sendTweet()">Tweet</button>
        
        </div>
    </form>
</div>