<div id="page1">
    <p> Etape 1 /3</p>
        <h3>
            Créer votre compte
        </h3>
    
        <form [formGroup]="form" class="h-100 d-flex flex-column justify-content-around">
            <div  class="boxLabelInput">
                <label >Nom et Prenom</label>
                <input type="text" formControlName="nameAndFirstName" class="inputStyle">
            </div>
    
            <div class="boxLabelInput">
                <label >Email</label>
                <input type="text" formControlName="email" class="inputStyle">
            </div>
    
            <div>
                <p>Votre date d'anniversaire</p>
                <p>Cette information ne sera pas affichée publiquement. Confirmez votre âge, même si ce compte est pour une entreprise, un animal de compagnie ou autre chose.</p>
            </div>
            <div class="d-flex justify-content-between">
                <div class="boxLabelSelect">
                    <label >Mois</label>
                    <select formControlName="dateOfBirthM" class="inputStyle">
                        <option value=""></option>
                        <option value="01">Janvier</option><option value="02">Février</option>
                        <option value="03">Mars</option><option value="04">Avril</option>
                        <option value="05">Mai</option><option value="06">Juin</option>
                        <option value="07">Juillet</option><option value="08">Aout</option>
                        <option value="09">Septembre</option><option value="10">Octobre</option>
                        <option value="11">Novembre</option><option value="12">Décembre</option>
                    </select>
                </div>
                <div class="boxLabelSelect">
                    <label >Jour</label>
                    <select formControlName="dateOfBirthD" class="inputStyle">
                        <option *ngFor="let day of initDateOfBirth.day" [ngValue]="day.numForm">{{day.num}}</option>
                    </select>
                </div>
        
                <div class="boxLabelSelect">
                    <label >Année</label>
                    <select formControlName="dateOfBirthY" class="inputStyle">
                        <option *ngFor="let year of initDateOfBirth.year" [ngValue]="year">{{year}}</option>
                    </select>
                </div>
        
            </div>
            <button class="btn btn-dark"  (click)="submitFormPage1()" >Suivant</button>
        </form>
</div>
