<div class="d-flex flex-column justify-content-around h-100">
    <form [formGroup]="form" class="d-flex flex-column justify-content-around h-50">
        <div>
            <label >Email</label>
            <input type="text"  name="" id="" formControlName="identifier" class="inputForm">
        </div>
        <div>
            <label >Votre mot de passe</label>
            <input type="password" name="" id="" formControlName="mdp"  class="inputForm">
        </div>
        <button (click)="submitFormP2()" class="btn-login btn-blue">Se connecter</button>
    </form>
    
    <button class="btn-login btn-black">Mot de passe oublié ? </button>
    
    <p>Vous n'avez pas de compte ? Inscrivez-vous</p>
</div>