.inputForm{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid ;
}
.btn-login{
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 0;
    color: white;

}
.btn-blue{
    background-color: var(--color-blue);
}
.btn-black{
    background-color: black;
}
