#menu-bar{
    right: 77%;
}
#side-bar{
    left: 68%;
}

.posAside{
    position: fixed;
    bottom: 0;
    background-color: var(--color-blue) ;
    padding: 1rem 0 ;
}
.borderPage{
    left: 25%;
    border-left:1px solid rgb(233, 233, 233);
    border-right:1px  solid rgb(233, 233, 233);
    min-height: 100vh;
    padding: 0;
}

