<div>
    <ul >
        <li *ngFor="let tweet of listTweet" class="d-flex cardTweet">
            <div>
                <img src="../../assets/person-circle.svg" alt="avatar author" class="avatarTweet">
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row align-items-end">
                    <h4>{{tweet.author.firstName| titlecase}} {{tweet.author.name | titlecase}}</h4>
                    <p class="ms-2">{{tweet.postTime | dateEdit}}</p>
                </div>
                <div>
                    <p class="textContentTweet">{{tweet.content}}</p>
                    <img [src]="tweet.image" alt="" class="imgContentTweet"> 
                </div>
                <div class="d-flex">
                    <button class="d-flex btnBottomTweet">
                        <img src="../../assets/chat.svg" alt="icone comment" class="iconeBottomTweet">
                        <p>{{tweet.postComment}}</p>
                    </button>
                    <button class="d-flex btnBottomTweet">
                        <img src="../../assets/heart.svg" alt="icone Heart" class="iconeBottomTweet">
                        <p>{{tweet.profileLike}}</p>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div class="d-flex justify-content-center">
        <button (click)="moreTweet()" id="moreTweet">Plus de contenu</button>
    </div>


</div>