<div *ngIf="userCurrent==undefined">
    <app-side-bar-nex-in-twitter></app-side-bar-nex-in-twitter>
</div>

<div *ngIf="userCurrent">

    <form action="">
        <img src="../../../assets/search.svg" alt="icon search">
        <input type="text" name="" id="" placeholder=" Search Twitter">
    </form>

    <div>
        <h3>Trends for you</h3>
        <ul>
            <app-trends-for-you-item *ngFor="let trendsForYou of listTrendsForYou" [trendsForYou]="trendsForYou"></app-trends-for-you-item>
        </ul>
    </div>
</div>
