<aside>
    <div>
        <h4>Ne manque pas ce qui se passe.</h4>
        <p>Les utilisateurs de FakeSocial sont les premièrs à savoir.</p>
    </div>
    <div>
        <button (click)="setDisplayBox(1)">Se connecter</button>
        <button (click)="setDisplayBox(2)">S'inscrire</button>
    </div>


    <div *ngIf="displayBox.signIn" class="boxForm position-absolute">
        <button class="btn btn-primary" (click)="setDisplayBox(2)">X</button>
        <app-box-form-sign-in></app-box-form-sign-in>
    </div>
    <div *ngIf="displayBox.login" class="boxForm position-absolute">
        <button class="btn btn-primary" (click)="setDisplayBox(1)">X</button>
        <app-form-login></app-form-login> 
    </div>
</aside>
